{{ $src := .Get "src" }}
{{ $alt := .Get "alt" | default "" }}
{{ if eq (.Get "vertical" | default "false") "true" }}
<div class="article-img-v"><img src="{{ $src }}" alt="{{ $alt }}" loading="lazy"></div>
{{ else }}
<div class="article-img" style="max-width:975px;margin:36px auto 0;padding:0 36px;position:relative;left:50%;transform:translateX(-50%);width:975px;"><img src="{{ $src }}" alt="{{ $alt }}" loading="lazy" style="width:100%;height:550px;object-fit:cover;display:block;border-radius:4px;"></div>
{{ end }}